
/* Calculator container */
#body{
background-color: rgb(114, 2, 62);


}
.calculator-container {
  background-color: rgb(40, 203, 244);
  padding: 50px;
  border-radius: 10px;
  width: 400px; /* Set a fixed width for the calculator */
  background-size: cover;  /* Adjusts the image size to cover the container */
  background-position: center;
  margin-left: auto; /* Automatically adjust the left margin */
  margin-right: auto; /* Automatically adjust the right margin */
  margin-top: 20vh; 
  margin-bottom: 20vh;
  
}
#calculatorImage {
  width: 200px;  /* Enlarge the width */
  height: auto;  /* Maintain the aspect ratio */
}

/* Table styling */
table {
  width: 100%;
  margin: 20px;
}

td {
  padding: 10px;
}

/* Button styling */
button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #4CAF50;
  color:black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f44c0a;
}

/* Input styling */
input {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #2909dd;
  margin-top: 5px;
}

h2 {
  font-size:50px;
  margin-bottom: 15px;
}
#input{
  font-size: 24px;
}
